// login and registration

.login-register-content {
  @extend .margin-horizontal-medium;

  color: white;
  height: 100%;


  a {
    color: $positive;
    text-decoration: none;
    padding: 20px;
    margin: -20px;
  }

  .wrong-pass {
    color: red;
    font-weight: bold;
  }

  .remember-me {
    margin-top: 15px;
    text-align: left;
  }

  p {
    text-align: center;
  }

  button {
    font-size: $font-size-large;
  }

  .login-logo {
    height: 80px;
    // margin-bottom: 20px;
    margin-top: 15%;

    #login-logo-img {
      @extend .center;
      height: 100%;
    }
  }

  .login-register-form{
    .list {
      margin: 0px;
    }
    margin-top: 5%;
  }

  h5, h4 {
    color: $light;
    text-align: center;
  }

  .forgot-pass {
    // margin-bottom: 10px;
    margin-top: 5%;
  }

  .social-media-login-register {
    display: block;
    text-align: center;
    margin-top: 0%;
    img {
      margin-left: 5px;
      margin-right: 5px;
      height: 30px;
      display: inline-block;
    }
  }

  .signup {
    margin-top: 5%;
  }

  .login {
    margin-top: 5%;
  }

  .register-button{
      line-height: 40px !important;
      min-height: 30px !important;
  }
}
