/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Colors
// -------------------------------
$positive:                        #01ced1;
$balanced:                        #00e19a;

// Base
// -------------------------------
$base-background-color:           white;


// Universal Sizes 
// -------------------------------
$large:                           16px;
$medium:                          10px;
$small:                           6px !important;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";



// --------------------------MARGINS
// --------LARGE
.margin-horizontal-large {
  margin-right: $large;
  margin-left: $large;
}

.margin-vertical-large {
  margin-top: $large;
  margin-bottom: $large;
}

.margin-top-large {
  margin-top: $large;
}

.margin-bottom-large {
  margin-bottom: $large;
}

.margin-left-large {
  margin-left: $large;
}

.margin-right-large {
  margin-right: $large;
}

//-------MEDIUM
.margin-horizontal-medium {
  margin-right: $medium;
  margin-left: $medium;
}

.margin-vertical-medium {
  margin-top: $medium;
  margin-bottom: $medium;
}

.margin-top-medium {
  margin-top: $medium;
}

.margin-bottom-medium {
  margin-bottom: $medium;
}

.margin-left-medium {
  margin-left: $medium;
}

.margin-right-medium {
  margin-right: $medium;
}

//-------SMALL
.margin-horizontal-small {
  margin-right: $small;
  margin-left: $small;
}

.margin-vertical-small {
  margin-top: $small;
  margin-bottom: $small;
}

.margin-top-small {
  margin-top: $small;
}

.margin-bottom-small {
  margin-bottom: $small;
}

.margin-left-small {
  margin-left: $small;
}

.margin-right-small {
  margin-right: $small;
}


// --------------------------PADDINGS
// --------LARGE
.padding-horizontal-large {
  padding-right: $large;
  padding-left: $large;
}

.padding-vertical-large {
  padding-top: $large;
  padding-bottom: $large;
}

.padding-top-large {
  padding-top: $large;
}

.padding-bottom-large {
  padding-bottom: $large;
}

.padding-left-large {
  padding-left: $large;
}

.padding-right-large {
  padding-right: $large;
}

//-------MEDIUM
.padding-horizontal-medium {
  padding-right: $medium;
  padding-left: $medium;
}

.padding-vertical-medium {
  padding-top: $medium;
  padding-bottom: $medium;
}

.padding-top-medium {
  padding-top: $medium;
}

.padding-bottom-medium {
  padding-bottom: $medium;
}

.padding-left-medium {
  padding-left: $medium;
}

.padding-right-medium {
  padding-right: $medium;
}

//-------SMALL
.padding-horizontal-small {
  padding-right: $small;
  padding-left: $small;
}

.padding-vertical-small {
  padding-top: $small;
  padding-bottom: $small;
}

.padding-top-small {
  padding-top: $small;
}

.padding-bottom-small {
  padding-bottom: $small;
}

.padding-left-small {
  padding-left: $small;
}

.padding-right-small {
  padding-right: $small;
}





// ------------------SIZES
.standard-list-height {
  height: 20px;
}

.large-button-height {
  height: 50px;
}

.icon-medium {
  font-size: 20px;
}

// -------------------POSITIONING
.inline {
  display: inline-block;
}

.block {
  display: block;
}

.float-right {
  float: right;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

// centering a div or an image
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}


// -------------------COLORS
.dark-background {
  background-color: #20203a !important;
}

.grey-background {
  background-color: $stable;
}


// BUTTON styles

.button {
  border: none;
  margin: 0px !important;
}


// LOGIN and REGISTRATION PAGE ----

@import 'login-registration';

// FORM VALIDATION ----------------

@import 'form-validation';

// HOME PAGE ----------------------

@import 'home';

// SHOPPING LIST ------------------

@import 'shoppinglist';



// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css


// FAB button
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  position: fixed;
  bottom: 40px; /* Adjust to where you want it */
  right: 12px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: $light;
}
