/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// Colors
// -------------------------------
$positive:                        #01ced1;
$balanced:                        #00e19a;
$dark-grey:                       #282828 !default;
$grey:                            #F5F5F5 !default;

// Base
// -------------------------------
$base-background-color:           white;


// Universal Sizes
// -------------------------------
$large:                           16px;
$medium:                          10px;
$small:                           6px !important;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.font14 {
  font-size: 14px !important;
}


// --------------------------MARGINS

.no-margin {
  margin: 0px !important;
}

// --------LARGE
.margin-horizontal-large {
  margin-right: $large !important;
  margin-left: $large !important;
}

.margin-vertical-large {
  margin-top: $large !important;
  margin-bottom: $large !important;
}

.margin-top-large {
  margin-top: $large !important;
}

.margin-bottom-large {
  margin-bottom: $large !important;
}

.margin-left-large {
  margin-left: $large !important;
}

.margin-right-large {
  margin-right: $large !important;
}

//-------MEDIUM
.margin-horizontal-medium {
  margin-right: $medium !important;
  margin-left: $medium !important;
}

.margin-vertical-medium {
  margin-top: $medium !important;
  margin-bottom: $medium !important;
}

.margin-top-medium {
  margin-top: $medium !important;
}

.margin-bottom-medium {
  margin-bottom: $medium !important;
}

.margin-left-medium {
  margin-left: $medium !important;
}

.margin-right-medium {
  margin-right: $medium !important;
}

//-------SMALL
.margin-horizontal-small {
  margin-right: $small !important;
  margin-left: $small !important;
}

.margin-vertical-small {
  margin-top: $small !important;
  margin-bottom: $small !important;
}

.margin-top-small {
  margin-top: $small !important;
}

.margin-bottom-small {
  margin-bottom: $small !important;
}

.margin-left-small {
  margin-left: $small !important;
}

.margin-right-small {
  margin-right: $small !important;
}


// --------------------------PADDINGS

.no-padding {
  padding: 0px !important;
}

// --------LARGE
.padding-horizontal-large {
  padding-right: $large !important;
  padding-left: $large !important;
}

.padding-vertical-large {
  padding-top: $large !important;
  padding-bottom: $large !important;
}

.padding-top-large {
  padding-top: $large !important;
}

.padding-bottom-large {
  padding-bottom: $large !important;
}

.padding-left-large {
  padding-left: $large !important;
}

.padding-right-large {
  padding-right: $large !important;
}

//-------MEDIUM
.padding-horizontal-medium {
  padding-right: $medium !important;
  padding-left: $medium !important;
}

.padding-vertical-medium {
  padding-top: $medium !important;
  padding-bottom: $medium !important;
}

.padding-top-medium {
  padding-top: $medium !important;
}

.padding-bottom-medium {
  padding-bottom: $medium !important;
}

.padding-left-medium {
  padding-left: $medium !important;
}

.padding-right-medium {
  padding-right: $medium !important;
}

//-------SMALL
.padding-horizontal-small {
  padding-right: $small !important;
  padding-left: $small !important;
}

.padding-vertical-small {
  padding-top: $small !important;
  padding-bottom: $small !important;
}

.padding-top-small {
  padding-top: $small !important;
}

.padding-bottom-small {
  padding-bottom: $small !important;
}

.padding-left-small {
  padding-left: $small !important;
}

.padding-right-small {
  padding-right: $small !important;
}





// ------------------SIZES
.standard-list-height {
  height: 20px;
}

.large-button-height {
  height: 50px;
}

.icon-medium {
  font-size: 20px;
}

// -------------------POSITIONING

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.float-right {
  float: right;
}

.vertical-align-bottom {
  vertical-align: bottom;
}

.vertical-align-center {
  vertical-align: center;
}

// centering a div or an image
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// -------------------TEXT

.text-center {
  text-align: center;
}

.white-text {
  color: #FFFFFF !important;
}

.grey-text {
  opacity: .65;
}

.capital-letters {
  text-transform: uppercase;
}

// -------------------COLORS
.dark-background {
  background-color: #20203a !important;
}

.grey-background {
  background-color: $stable;
}

// BUTTON styles

.button {
  border: none;
}

.swipe-button {
  padding: $large !important;
  width: 52px;
}


// LOGIN and REGISTRATION PAGE ----

@import 'login-registration';

// FORM VALIDATION ----------------

@import 'form-validation';

// HOME PAGE ----------------------

@import 'home';

// SHOPPING LIST ------------------

@import 'shoppinglist';

.bar {
  border: none !important;
  background-size: 0% 0px !important;
}

.tabs {
  background-size: 0% 0px !important;
}

.bar-footer {
  margin-bottom: 2px;
}

.no-border {
  border-width: 0px !important;
  border: none !important;
}

@import 'parsed-receipt';

@import 'timeline';

// when Sass processes, both Ionic's Sass and your Sass will combine
// into one file and saved in your app's directory as css/app.css


// FAB button
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  position: fixed;
  bottom: 40px; /* Adjust to where you want it */
  right: 12px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: $light;
}

.item-options {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}
.item-options .button {
  height: 100%;
  border: none;
  border-radius: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.item-options .button:before {
  margin: 0 auto;
}

.item-options-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
}
.item-options-left .button {
  height: 100%;
  border: none;
  border-radius: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.item-options-left .button:before {
  margin: 0 auto;
}

.ionic_ratings .icon {
  font-size: 35px;
}
