<ion-view view-title="{{vm.receipt.result.parsedDate | date:'hh:mm:ss  yyyy-MM-dd'}}">

    <!-- fix the select mode selection -->
    <ion-header-bar class="bar bar-subheader">
      <ion-toggle ng-model="vm.selectItemMode" class="bar select-items-bar shadow-level2">Select items</ion-toggle>
    </ion-header-bar>

    <ion-content class="parsed-page grey-background">

      <div ng-show="vm.selectItemMode">
        <ion-list >
          <ion-item class="store-items list-border" ng-repeat="item in vm.receipt.items">
            <ion-checkbox ng-model="item.checked" >
              <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.displayName}} </p>
              <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">${{item.displayPrice}}</p>
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <div class="buttons">
            <button class="button button-full button-positive large-button-height" ng-click="vm.addToShoppingList()">
              Add to shopping list
            </button>
        </div>
      </div>

      <div ng-hide="vm.selectItemMode">
        <ion-list show-delete="false" can-swipe="true" swipe-direction="left">
          <ion-item class="parsed-items" ng-repeat="(index,item) in vm.receipt.items">
              <div class="store-items list-border">
                  <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.displayName}}</p>
                  <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large"> ${{item.displayPrice }} </p>
              </div>
              <ion-option-buttons side="right" class="button-positive swipe-button" ng-click="vm.editItem(item)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-buttons>
              <ion-option-buttons side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(index,item)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>

          </ion-item>
        </ion-list>
      </div>

      <div ng-hide="vm.selectItemMode" ng-if="vm.needFeedback">
        <p class="padding-top-large text-center">How did we do?</p>
        <ionic-ratings ratingsobj='ratingsObject'></ionic-ratings>
      </div>

      <!-- receipt image dislay part-->
      <ion-item ng-hide="vm.selectItemMode" ng-repeat="image in vm.receipt.images" >
        <img class="vertical-align-bottom" ng-src="{{image.path}}">
      </ion-item>
    </ion-content>
</ion-view>
