<ion-view view-title="Timeline">
    <ion-content class="home-page grey-background">
        <ion-refresher
          pulling-text="Loading latest receipts..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="false"
                  can-swipe="true"
                  swipe-direction="both">
            <ion-item class="myreceipts" ng-repeat="(index, receipt) in vm.receipts" ng-click="vm.showReceipt(receipt.id)">
                <ion-spinner ng-hide="receipt.resultLoaded || receipt.resultError"></ion-spinner>
                <h2 class="store-name" ng-show="receipt.resultError">Cannot recognize the receipt!</h2>
                <img class="store-icon" ng-show="receipt.resultLoaded"
                    ng-src="img/store_icons/{{receipt.result.chainCode}}-blue.png">
                <h2 class="store-name" ng-show="receipt.resultLoaded">{{receipt.result.storeName}}</h2>
                <p class="receipt-detail" ng-show="receipt.resultLoaded">Date: {{receipt.result.parsedDate | date:'hh:mm:ss  yyyy-MM-dd'}}, Total: ${{receipt.result.parsedTotal}}</p>

                <ion-option-buttons side="right" class="button-assertive swipe-button" ng-click="vm.deleteReceipt(index)">
                     <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
            ng-if="vm.moreReceiptsCanBeLoaded()"
            on-infinite="vm.scrollToLoadMore()">
        </ion-infinite-scroll>

        <div ng-if="!vm.moreReceiptsCanBeLoaded()">
            End of receipt list.
        </div>
    </ion-content>
</ion-view>
