<ion-view view-title="Timeline">
    <ion-content class="home-page grey-background">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="left">
            <ion-item ng-repeat="(index, receipt) in vm.receipts" >
                <div class="timeline-item">
                    <p class="inline padding-top-large vertical-align-bottom padding-left-small">{{receipt.result.storeName}}</p>
                    <p class="inline float-right padding-top-large vertical-align-bottom padding-right-small">Total: {{receipt.result.parsedTotal}}</p>
                </div>
                <div class="receipt-img" >
                    <img ng-src="{{receipt.path}}" ng-click="vm.showReceipt(receipt.id)">
                </div>
                <ion-option-buttons side="right" class="ion-minus-circled" ng-click="vm.deleteReceipt(index)">
                    delete
                </ion-option-buttons>
                <div class="receipt-label margin-horizontal-small">
                    <p class="float-right padding-top-small"> {{receipt.result.parsedDate | date:'hh:mm:ss  yyyy-MM-dd'}} </p>
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
            ng-if="vm.moreReceiptsCanBeLoaded()"
            on-infinite="vm.scrollToLoadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
