<ion-view view-title="{{vm.receiptParseResult.parsedDate | date:'hh:mm:ss  yyyy-MM-dd'}}">
    <!-- for date of receipt please put script to plug-in the date for each receipt-->
    <ion-content class="home-page grey-background">

      <ion-toggle ng-model="EditModel" class="grey-background">Select items</ion-toggle>

      <div ng-show="EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
            <ion-checkbox ng-model="item.checked" >
              <p class="inline">{{item.displayName}} </p>
              <p class="inline float-right">${{item.displayPrice}}</p>
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <div class="buttons">
            <button class="button button-full button-positive large-button-height" ng-click="vm.addToShoppingList()">
              Add to shopping list
            </button>
        </div>
      </div>

      <div ng-hide="EditModel">
        <ion-list show-delete="false" can-swipe="true" swipe-direction="left">
          <ion-item ng-repeat="(index,item) in vm.receiptItems">
              <div class="margin-vertical-large margin-horizontal-small standard-list-height">
                  <p class="inline">{{item.displayName}}</p>
                  <p class="inline float-right"> ${{item.displayPrice }} </p>
              </div>
              <ion-option-buttons side="right" class="button-positive swipe-button" ng-click="vm.editItem(item)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-buttons>
              <ion-option-buttons side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(item)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>

          </ion-item>
        </ion-list>
      </div>

      <div ng-hide="EditModel" ng-if="rating[receiptId] == null && delay=='true'">
        <h3 class="padding-top-large text-center">How did we do?</h3>
          <div class="row margin-bottom-large">
            <div class="col button button-balanced text-center" ng-click="ratingResultY()">GOOD RESULTS</div>
            <div class="col button button-assertive text-center" ng-click="ratingResultN()">BAD RESULTS</div>
          </div>
      </div>

      <!-- receipt dislay part-->
      <ion-item ng-hide="EditModel" ng-repeat="image in vm.receiptImages" >
        <p class="padding-left-small padding-top-medium padding-bottom-medium">Original photo</p>
        <img class="vertical-align-bottom" ng-src="{{image.path}}">
        <!-- This creates separate "cards" for each image,
        but here I think all the images should be on one "card"
        in the future I think we will use panorama for longer
        receipts so we will only have 1 image-->
      </ion-item>
    </ion-content>
</ion-view>
