<ion-view view-title="Receipt List">
    <ion-content class="padding">
        <p>
            List of receipts (pull to refresh...)
        </p>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe">
            <ion-item ng-repeat="receipt in vm.receipts" >
                <div id="img" >
                    <img ng-src="{{receipt.path}}" style="width:100%" ng-click="vm.showReceipt(receipt.id)">
                </div>
                <ion-option-button class="ion-minus-circled" ng-click="vm.deleteReceipt(receipt.id)">
                    delete
                </ion-option-button>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
            ng-if="vm.moreReceiptsCanBeLoaded()"
            on-infinite="vm.scrollToLoadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
