<ion-view view-title="Receipts">
    <ion-content class="home-page grey-background">

        <ion-refresher
          pulling-text="Loading latest receipts..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="false"
                  can-swipe="true"
                  swipe-direction="left">
            <div ng-repeat="group in vm.groups | object2Array | orderBy:'-key'">

                <div class="item item-divider no-border font14"> {{group.weekDay}} - {{group.month}} {{group.day}}, {{group.year}}</div>

                <div ng-repeat="(index,receipt) in group.receipts">
                    <ion-item class="item myreceipts" ng-show="receipt.status === 'HAS_RESULT' && receipt.needFeedback" ng-click="vm.showReceipt(receipt)">
                        <img class="store-icon"
                            ng-src="img/store_icons/{{receipt.icon}}-blue.png">
                        <h2 class="store-name margin-left-medium">{{receipt.storeName}} <font color="red">new</h2>
                        <p class="receipt-detail margin-left-medium">${{receipt.total}}</p>
                        <ion-option-buttons side="right" class="button-assertive swipe-button"
                                ng-click="vm.deleteReceipt(group,index,receipt)">
                             <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>
                    </ion-item>

                    <ion-item class="item myreceipts" ng-show="receipt.status === 'HAS_RESULT' && !receipt.needFeedback" ng-click="vm.showReceipt(receipt)">
                        <img class="store-icon"
                            ng-src="img/store_icons/{{receipt.icon}}-blue.png">
                        <h2 class="store-name margin-left-medium">{{receipt.storeName}}</h2>
                        <p class="receipt-detail margin-left-medium">${{receipt.total}}</p>
                        <ion-option-buttons side="right" class="button-assertive swipe-button"
                                ng-click="vm.deleteReceipt(group,index,receipt)">
                             <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>
                    </ion-item>


                    <ion-item class="item myreceipts" ng-show="receipt.status === 'WAIT_FOR_RESULT'">
                        <ion-spinner class="store-icon inline padding-horizontal-medium"></ion-spinner>
                        <p class="store-name inline margin-left-medium">Processing receipt, please refresh later!</p>
                    </ion-item>

                    <ion-item class="item myreceipts" ng-show="receipt.status === 'OCR_ERROR' || receipt.status === 'PARSER_ERROR'">
                        <img class="store-icon"
                                ng-src="img/store_icons/error.png">
                        <p class="store-name error margin-left-medium">Could not recognize the receipt.</p>
                        <p class="store-name error margin-left-medium">Please try uploading it again.</p>
                        <ion-option-buttons side="right" class="button-assertive swipe-button"
                                ng-click="vm.deleteReceipt(group,index,receipt)">
                             <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>
                    </ion-item>

                </div>

            </div>
        </ion-list>
    </ion-content>
</ion-view>
