<ion-view view-title="*Date of Receipt*">
    <!-- for date of receipt please put script to plug-in the date for each receipt-->
    <ion-content class="home-page">

      <ion-toggle ng-model="$root.EditModel">Edit Items</ion-toggle>

      <div id="EditModel" ng-show="EditModel" ng-if="$root.EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
            <ion-checkbox ng-model="item.checked" >
              <p>{{item.name}} </p>
              <!-- <p>price: {{item.unitPrice}}</p> -->
            </ion-checkbox>
          </ion-item>
        </ion-list>

          <div class="buttons">
            <button class="button button-full button-positive" ng-click="vm.AddToShoppingList()">
              AddToShoppingList
            </button>
        </div>
      </div>

      <div id="ShowModel" ng-show="ShowModel" ng-if="!$root.EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
              <p>{{item.name}} ----price: {{item.unitPrice}}</p>
          </ion-item>
        </ion-list>
      </div>
      <!-- receipt dislay part-->
      <ion-item ng-repeat="image in vm.receiptImages" >
        <img ng-src="{{image.path}}">
        <!-- This creates separate "cards" for each image,
        but here I think all the images should be on one "card"
        in the future I think we will use panorama for longer
        receipts so we will only have 1 image-->
      </ion-item>
    </ion-content>
</ion-view>
