<ion-view view-title="*Date of Receipt*">
    <!-- for date of receipt please put script to plug-in the date for each receipt-->
    <ion-content class="home-page">

      <ion-toggle ng-model="EditModel">Edit Items</ion-toggle>

      <div ng-show="EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
            <ion-checkbox ng-model="item.checked" >
              <p class="inline">{{item.name}} </p>
              <p class="inline float-right padding-top-small">price: {{item.unitPrice}}</p>
            </ion-checkbox>
          </ion-item>
        </ion-list>

        <div class="buttons">
            <button class="button button-full button-positive" ng-click="vm.AddToShoppingList()">
              AddToShoppingList
            </button>
        </div>
      </div>

      <div ng-hide="EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
              <p class="inline">{{item.name}}</p>
              <p class="inline float-right padding-top-small"> price: {{item.unitPrice}} </p>
          </ion-item>
        </ion-list>
      </div>
      <br/>
      <div ng-if="rating[receiptId]==nul" >
        <p class="inline">Do you satisfy with this result?</p>
        <p class="inline float-right">
            YES:<input type="checkbox" ng-model="yes" ng-change="ratingResultY()">
            NO: <input type="checkbox" ng-model="no" ng-change="ratingResultN()">
        </p>
      </div>

      <!-- receipt dislay part-->
      <ion-item ng-repeat="image in vm.receiptImages" >
        <img ng-src="{{image.path}}">
        <!-- This creates separate "cards" for each image,
        but here I think all the images should be on one "card"
        in the future I think we will use panorama for longer
        receipts so we will only have 1 image-->
      </ion-item>
    </ion-content>
</ion-view>
