<ion-view view-title="*Date of Receipt*">
    <!-- for date of receipt please put script to plug-in the date for each receipt-->
    <ion-content class="home-page">

      <ion-toggle ng-model="$root.EditModel">Edit Items</ion-toggle>

      <div id="EditModel" ng-show="EditModel" ng-if="$root.EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
            <ion-checkbox ng-model="item.checked" >
              {{item.name}}
              <!-- <tt>{{item.checked}}</tt><br/> -->
            </ion-checkbox>
          </ion-item>
        </ion-list>

          <div class="buttons">
            <button class="button button-positive" ng-click="vm.Cancel()">
              Cancel
            </button>
            <button class="button button-positive" ng-click="vm.AddToShoppingList()">
              AddToShoppingList
            </button>
        </div>
      </div>

      <div id="ShowModel" ng-show="ShowModel" ng-if="!$root.EditModel">
        <ion-list >
          <ion-item ng-repeat="item in vm.receiptItems">
              {{item.name}}
          </ion-item>
        </ion-list>
      </div>

    </ion-content>
</ion-view>
