<ion-view view-title="StoreItems">
    <ion-content class="padding">
        <p>
            StoreItems
        </p>
        <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe">
          <ion-item ng-repeat="item in vm.items">
              <p> {{item.itemName}}   price:  {{item.itemPrice}} </p>
              <ion-option-button class="ion-minus-circled" ng-click="vm.deleteItem(item.id)">
                  delete
              </ion-option-button>
          </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
