<ion-view view-title="{{vm.store}}">
    <ion-nav-title> {{vm.store}} </ion-nav-title>

    <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe">
          <ion-item ng-repeat="(index, item) in vm.items">
              <h1 class="inline"> {{item.itemName}} </h1>
              <p class="inline float-right"> ${{item.itemPrice}} </p>
              <ion-option-button class="ion-minus-circled" ng-click="vm.deleteItem(index)">
                  delete
              </ion-option-button>
          </ion-item>
        </ion-list>
        <!--  scroll to load more-->
        <ion-infinite-scroll
            ng-if="vm.moreItemsCanBeLoaded()"
            on-infinite="vm.scrollToLoadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
