<ion-view view-title="StoreItems">
    <ion-content>
        <!-- pull to refresh -->
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe">
          <ion-item ng-repeat="item in vm.items">
              <p class="inline"> {{item.itemName}} </p>
              <p class="inline float-right"> ${{item.itemPrice}} </p>
              <ion-option-button class="ion-minus-circled" ng-click="vm.deleteItem(item.id)">
                  delete
              </ion-option-button>
          </ion-item>
        </ion-list>
        <!--  scroll to load more-->
        <ion-infinite-scroll
            ng-if="vm.moreItemsCanBeLoaded()"
            on-infinite="vm.scrollToLoadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
