<div class="list">
    <label class="item item-input">
        <input type="text" placeholder="Item name" ng-model="itemForm.name">
    </label>
    <label class="item item-input">
        <input type="text" placeholder="Item number" ng-model="itemForm.number">
    </label>
    <label class="item item-input">
        <select ng-model="itemForm.code">
            <option ng-repeat="category in categoryList" value="{{category.code}}">{{category.label}}</option>
        </select>
    </label>
</div>
