<ion-view view-title="My Stores">

  <!-- temporily hide -->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="vm.searchStoresFromServer('Sear')"></button>
  </ion-nav-buttons>

  <ion-content>
    <!-- <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="vm.pullToRefresh()">
    </ion-refresher> -->
    <div class="ion-autocomplete shopping-item-search">
        <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
           ng-show="vm.searchStores"
           template-url="app/shoppinglist/store-shoppinglist-search.tmpl.html"
           autocomplete="off"
           ng-model="vm.model"
           external-model="vm.externalModel"
           select-items-label="Search results"
           items-method="vm.searchStoresFromServer(query)"
           items-method-value-key="stores"
           item-value-key="code"
           item-view-value-key="name"
           placeholder="Search stores to add..."
           items-clicked-method="vm.itemsClicked(callback)"
           cancel-label="Cancel"
           cancel-button-clicked-method="vm.cancelSearch(callback)"
           max-selected-items="1"/>
    </div>

    <ion-list show-delete="false" can-swipe="true" swipe-direction="left">
      <ion-item class="mystores padding-vertical-medium" ng-repeat="store in vm.stores" ng-click="vm.showShoppingStore(store)" >
        <img class="inline store-icon" ng-src="img/store_icons/{{store.resource.chainCode}}-blue.png">
        <div class="inline store-name"> {{store.resource.displayName}}</div>
        <ion-option-buttons side="right" class="button-assertive swipe-button" ng-click="vm.deleteStore(store)">
            <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
