<ion-view view-title="{{vm.store.displayName}}">
  <ion-nav-title>
    <i ng-show="!vm.shoppingMode" class="icon ion-edit"></i>
    <i ng-show="vm.shoppingMode" class="icon ion-ios-cart"></i>
     {{vm.store.displayName}}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-show="!vm.shoppingMode" class="button button-positive" ng-click="vm.clearShoppingList()"> Clear </button>
    <button ng-show="vm.shoppingMode" class="button button-icon icon ion-ios-plus-empty" ng-click="vm.addNewItem()"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="false" ng-show="!vm.shoppingMode">
      <!-- Search items from remote server -->
      <!-- Hi Reka, could you design a search box at here? Thanks! -->
      <div class="ion-autocomplete shopping-item-search">

          <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
                 ng-model="model"
                 select-items-label="Search results"
                 item-value-key="id"
                 item-view-value-key="naturalName"
                 items-method="vm.searchItemsFromServer(query)"
                 items-method-value-key="items"
                 placeholder="Search items to add..."
                 items-clicked-method="vm.itemsClicked(callback)"
                 cancel-label="Done"
                 cancel-button-clicked-method="vm.doneSearch(callback)"
                 max-selected-items="5"/>
    </div>

    <!-- we NEED it temporarily (because these items coe from receipts, when uses add items to shopping list, user needs to update
    , but we will change it to automatically later)-->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.pullToRefresh()">  </ion-refresher>
    <ion-item class="store-items list-border item-divider">
      <p class="inline vertical-align-bottom white-text"> Items: {{totalNumber}} </p>
      <p class="inline float-right vertical-align-bottom white-text"> Total: ${{totalPrice|number:2}}</p>
    </ion-item>

    <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="both">
      <div  ng-repeat="(categoryLabel, items) in category | orderBy:categoryLabel">
        <ion-item class="category item-dark" ng-click="vm.categoryDetail(categoryLabel)">
          <img class="inline category-icon" ng-src="img/custom_icons/{{categoryLabel|lowercase}}.svg">
          <div class="center" style="width: 50%;">
            <p class="center inline text-center">{{categoryLabel}}</p></div>
          <p class="inline category-price">${{subtotal[categoryLabel]|number:2}}</p>
        </ion-item>

        <div ng-show="vm.show[categoryLabel]">
          <ion-item class="store-items list-border" ng-repeat="(index, item) in items" ng-click="vm.itemDetail(item)">
            <div ng-if="vm.number[item.catalog.name]==1">
              <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.catalog.naturalName}} </p>
              <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$ {{vm.price[item.name] | number:2}}</p>
            </div>
            <div ng-if="vm.number[item.catalog.name]!==1">
              <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.catalog.naturalName}} </p>
              <i class="inline padding-vertical-large vertical-align-bottom padding-horizontal-small icon ion-ios-close-empty"></i>
              <p class="inline padding-vertical-large vertical-align-bottom grey-text">{{vm.number[item.catalog.name]}}</p>
            <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$ {{vm.price[item.name] | number:2}}</p>

            </div>
            <!-- <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">${{item.itemPrice}}*{{vm.number[item]}}</p> -->

            <ion-option-buttons side="left" class="button-positive swipe-button" ng-click="vm.addItemNumber(item)"> <i class="icon icon-medium center ion-ios-plus-outline"></i> </ion-option-buttons>
            <ion-option-buttons side="left" class="button-positive swipe-button quantity-minus" ng-click="vm.minusItemNumber(item)"> <i class="icon icon-medium center ion-ios-minus-outline"></i> </ion-option-buttons>

            <!-- <ion-option-buttons side="right" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-buttons> -->
            <ion-option-buttons side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(index,item)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>

            <div class="shopping-item-details padding-horizontal-large padding-bottom-small" ng-show="vm.show[item.name]">
              <p>{{item.catalog.naturalName}}  </p>
              <!--
              <p>${{item.id}} </p>
              we don't need to display id... -->
              <!--
              <p>{{item.catalog.price}} </p>
              price should only be displayed for items that have a price/kg price such as vegetables, fruits, etc. -->
              <!--
              <p>{{item.catalog.labelCodes}} </p>
              we don't need to display category names .. -->
            </div>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <!--  scroll to load more -->
    <!-- <ion-infinite-scroll ng-if="vm.moreItemsCanBeLoaded()" on-infinite="vm.scrollToLoadMore()"> </ion-infinite-scroll> -->

  </ion-content>

  <!-- Bottom button -->
  <ion-footer-bar class="bar bar-positive bar-footer mode-switch padding-vertical-small">
    <div ng-if= "!vm.shoppingMode" class="center padding-vertical-medium capital-letters" ng-click="vm.goShoppingMode()">Go Shopping</div>
    <div ng-if= "vm.shoppingMode"  class="center padding-vertical-medium capital-letters" ng-click="vm.doneShoppingMode()">Done Shopping</div>
  </ion-footer-bar>

  <!-- NOTE: Hi, Reka:  Here is the Shopping Mode NOT shopping-mode folder-->
  <!-- Please do some changes in the following content -->
  <ion-content ng-show="vm.shoppingMode">
    <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="right">
      <ion-item class="store-items" ng-repeat="(index, item) in vm.items" ng-click="vm.itemDetail(item)">
        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.catalog.naturalName}}</p>
        <i class="inline padding-vertical-large vertical-align-bottom padding-horizontal-small icon ion-ios-close-empty"></i>
        <p class="inline padding-vertical-large vertical-align-bottom grey-text">{{vm.number[item.catalog.name]}}</p>
        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">${{vm.price[item.name] | number:2}}</p>

        <ion-option-buttons side="left" class="button-positive swipe-button" ng-click="vm.addItemNumber(item)"> <i class="icon icon-medium center ion-ios-plus-outline"></i> </ion-option-buttons>

        <div class="shopping-item-details padding-horizontal-large padding-bottom-small" ng-show="vm.show[item.name]">
          <p>{{item.catalog.naturalName}}  </p>
          <!--
          <p>${{item.id}} </p>
          we don't need to display id... -->
          <!--
          <p>{{item.catalog.price}} </p>
          price should only be displayed for items that have a price/kg price such as vegetables, fruits, etc. -->
          <!--
          <p>{{item.catalog.labelCodes}} </p>
          we don't need to display category names .. -->
        </div>
      </ion-item>
    </ion-list>


      <!-- CATEGORY ICONS EXAMPLES -->
      <!-- <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/fruit.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Fruits</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/vegetables.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Vegetables</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/canned.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Canned Items</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/frozen.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Frozen</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/meat.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Meat</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/deli.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Deli</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/seafood.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Seafood</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/spices.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Spices</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/sauces.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Condiments & Sauces</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/oil.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Oil & Vinegar</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/snacks.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Snacks</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/bakery.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Bakery</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/beverages.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Beverages</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/dairy.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Dairy</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/baking.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Baking</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/grains.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Beans, Grains & Rice</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/cereal.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Breakfast & Cereal</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/cleaningsupplies.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Cleaning Supplies</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/health.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Health & Beauty</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/international.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">International & Ethnic</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/jams.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Jams & Preserves</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/nuts.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Nuts</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/pasta.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Pasta & Noodles</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/petfood.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Pet Food</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/soup.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Soups & Broth</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/wine.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Wine & Spirits</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/babyitems.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Baby Items</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/babyfood.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Baby Food</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/pharmacy.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Pharmacy</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/personalitems.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Personal Care</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/papergoods.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Paper Goods</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/floral.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Floral</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/home.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Home</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/entertainment.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Entertainment</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/apparel.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Apparel</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/uncategorized.svg">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Uncategorized</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item> -->


  </ion-contet>

</ion-view>
