<ion-view view-title="{{vm.store}}">
  <ion-nav-title>
    <i ng-show="!vm.shoppingMode" class="icon ion-edit"></i>
    <i ng-show="vm.shoppingMode" class="icon ion-ios-cart"></i>
     {{vm.store}}
    <!-- added a placeholder for now --> Superstore
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-show="!vm.shoppingMode" class="button button-positive" ng-click="vm.clearShoppingList()"> Clear </button>
    <button ng-show="vm.shoppingMode" class="button button-icon icon ion-ios-plus-empty" ng-click="vm.addNewItem()"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="false" ng-show="!vm.shoppingMode">

    <div class="padding-horizontal-small padding-bottom-small search-bar">
      <input class="padding-left-medium padding-vertical-small" type="text" ng-model="searchItems" placeholder="add new item" autofocus>
    </div>

    <!-- we NEED it temporarily (because these items coe from receipts, when uses add items to shopping list, user needs to update
    , but we will change it to automatically later)-->
    <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.pullToRefresh()">  </ion-refresher> -->

    <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="both">
      <!-- STYLING for TOP TOTAL  -->
      <ion-item class="store-items list-border item-dark">
        <p class="inline vertical-align-bottom white-text"> Items: 3 </p>
        <p class="inline float-right vertical-align-bottom white-text"> Total: $7.53 +</p>
      </ion-item>

      <!-- STYLING for CATEGORY **
      NOTE: clicking on category names hides the items on the category and vice versa,
      please add this functionality  -->
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/fruit.png">
        <div class="center" style="width: 50%;"><p class="center inline text-center">Fruit</p></div>
        <p class="inline category-price">$7.53 +</p>
      </ion-item>

      <!-- STYLING for ITEMS  -->
      <ion-item class="store-items list-border" ng-click="vm.itemDetail(1)" >
        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">Apple</p>
        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$2.43</p>

        <ion-option-button side="left" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-plus-outline"></i> </ion-option-button>
        <ion-option-button side="left" class="button-positive swipe-button quantity-minus" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-minus-outline"></i> </ion-option-button>
        <ion-option-button side="right" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-button>
        <ion-option-button side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-button>

        <div class="shopping-item-details padding-horizontal-large padding-bottom-small" ng-show="vm.show[1]">
          <p>Royal Gala Apples</p>
          <p>$2.43/kg</p>
        </div>
      </ion-item>

      <ion-item class="store-items" ng-click="vm.itemDetail(2)">
        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">Orange</p>
        <i class="inline padding-vertical-large vertical-align-bottom padding-horizontal-small icon ion-ios-close-empty"></i><p class="inline padding-vertical-large vertical-align-bottom grey-text">2</p>
        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$5.10</p>

        <ion-option-button side="left" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-plus-outline"></i> </ion-option-button>
        <ion-option-button side="left" class="button-positive swipe-button quantity-minus" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-minus-outline"></i> </ion-option-button>
        <ion-option-button side="right" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-button>
        <ion-option-button side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-button>

        <div class="shopping-item-details padding-horizontal-large padding-bottom-small" ng-show="vm.show[2]">
          <p>Navel Oranges</p>
          <p>$2.55/kg</p>
        </div>
      </ion-item>

    </ion-list>


    <!-- NOTE: following is real data, don't touch it -->
    <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="both">
      <!-- clicking on category names hides the items on the category and vice versa-->
      <ion-item class="category item-dark">
        <img class="inline category-icon" src="img/custom_icons/fruit.png">
        <div class="center" style="width: 50%;"><p class="center inline text-center">category</p></div>
        <p class="inline category-price">$sub total</p>
      </ion-item>

      <ion-item class="store-items list-border" ng-repeat="(index, item) in vm.items | filter:searchItems" ng-click="vm.itemDetail(item)">
        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.itemName}} </p>
        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">${{item.itemPrice}}</p>

        <ion-option-button side="left" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-plus-outline"></i> </ion-option-button>
        <ion-option-button side="left" class="button-positive swipe-button quantity-minus" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-minus-outline"></i> </ion-option-button>

        <ion-option-button side="right" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-button>
        <ion-option-button side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-button>

        <div class="shopping-item-details padding-horizontal-large padding-bottom-small" ng-show="vm.show[item]">
          <p>{{item.itemName}}  </p>
          <p>${{item.itemPrice}} </p>
          <!-- price should only be displayed for items that have a price/kg price such as vegetables, fruits, etc. -->
          <p> ... ... </p>
        </div>
      </ion-item>
    </ion-list>
    <!--  scroll to load more -->
    <!-- <ion-infinite-scroll ng-if="vm.moreItemsCanBeLoaded()" on-infinite="vm.scrollToLoadMore()"> </ion-infinite-scroll> -->

  </ion-content>

  <!-- Bottom button -->
  <ion-footer-bar class="bar bar-positive" >
    <button ng-if= "!vm.shoppingMode" class="button center" ng-click="vm.goShoppingMode()">Go Shopping</button>
    <button ng-if= "vm.shoppingMode"  class="button center" ng-click="vm.doneShoppingMode()">Done Shopping</button>
  </ion-footer-bar>

  <!-- NOTE: Hi, Reka:  Here is the Shopping Mode NOT shopping-mode folder-->
  <!-- Please do some changes in the following content -->
  <ion-content ng-show="vm.shoppingMode">
    <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="both">
      <ion-item class="store-items" ng-click="vm.itemDetail(2)">
        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">Orange</p>
        <i class="inline padding-vertical-large vertical-align-bottom padding-horizontal-small icon ion-ios-close-empty"></i><p class="inline padding-vertical-large vertical-align-bottom grey-text">2</p>
        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$5.10</p>

        <!-- This should be swipe right! and I don't know how to make the item info text more grey (by changing opacity) when the item is swiped -->
        <ion-option-button side="left" class="swipe-button button-light" ng-click="vm.editItem(index)"> <i class="icon positive icon-medium center ion-ios-checkmark"></i> </ion-option-button>
        <ion-option-button side="right" class="button-positive swipe-button" ng-click="vm.editItem(index)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-button>
        <ion-option-button side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(index)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-button>

        <div class="shopping-item-details padding-horizontal-large padding-bottom-small" ng-show="vm.show[2]">
          <p>Navel Oranges</p>
          <p>$2.55/kg</p>
        </div>
      </ion-item>
    </ion-list>

  </ion-contet>

</ion-view>
