<ion-view view-title="{{vm.store.resource.displayName}}">
  <ion-nav-title>
    <i ng-show="vm.shoppingMode" class="icon ion-ios-cart"></i>
     <div ng-if="vm.store.resource.displayName!==''">{{vm.store.resource.displayName}}</div>
     <div ng-if="vm.store.resource.displayName===''">Generic</div>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button ng-show="!vm.shoppingMode" class="button button-positive" ng-click="vm.clearShoppingList()"> Clear </button>
    <!-- <button ng-show="vm.shoppingMode" class="button button-icon icon ion-ios-plus-empty" ng-click="vm.addNewItem()"></button> -->
  </ion-nav-buttons>

  <!-- display shopping list items with search box -->
  <ion-content class="shopping-list-page" has-bouncing="false" ng-show="!vm.shoppingMode">
      <!-- Search items from remote server -->
      <div class="ion-autocomplete shopping-item-search">
          <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
             template-url="app/shoppinglist/store-shoppinglist-search.tmpl.html"
             autocomplete="off"
             ng-model="vm.model"
             external-model="vm.externalModel"
             select-items-label="Search results"
             items-method="vm.searchProductsFromServer(query)"
             items-method-value-key="items"
             item-value-key="id"
             item-view-value-key="naturalName"
             placeholder="Search items to add..."
             items-clicked-method="vm.itemsClicked(callback)"
             cancel-label="Cancel"
             cancel-button-clicked-method="vm.cancelSearch(callback)"
             max-selected-items="1"/>
      </div>

    <ion-item class="store-items shopping-item-divider">
      <p class="inline vertical-align-bottom white-text"> Items: {{vm.store.totalNumber}} </p>
      <p class="inline float-right vertical-align-bottom white-text"> Total: ${{vm.store.totalPrice|number:2}}</p>
    </ion-item>

    <ion-list show-delete="false" can-swipe="true" swipe-direction="both">
        <div ng-repeat="category in vm.categoryMap | object2Array | orderBy:'code'">
            <ion-item class="category item-dark padding-vertical-large" ng-click="category.showDetail = !category.showDetail">
                <img class="inline category-icon" ng-src="img/custom_icons/{{category.code}}.svg">
                <div class="center" style="width: 50%;">
                    <p class="center inline text-center">{{category.label}}</p>
                </div>
                <p class="inline category-price">${{category.subtotal|number:2}}</p>
            </ion-item>
            <div ng-show="category.showDetail">
                <ion-item class="store-items" ng-repeat="item in category.items | orderBy: 'name'"
                    ng-click="item.showDetail = !item.showDetail">
                    <div ng-if="item.number === 1">
                        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.name}} </p>
                        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$ {{item.price | number:2}}</p>
                    </div>
                    <div ng-if="item.number !== 1">
                        <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.name}} </p>
                        <i class="inline padding-vertical-large vertical-align-bottom padding-horizontal-small icon ion-ios-close-empty"></i>
                        <p class="inline padding-vertical-large vertical-align-bottom grey-text">{{item.number}}</p>
                        <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$ {{item.price*item.number | number:2}}</p>
                    </div>
                    <ion-option-buttons side="left" class="button-positive swipe-button" ng-click="vm.plusItemNumber(item)"> <i class="icon icon-medium center ion-ios-plus-outline"></i> </ion-option-buttons>
                    <ion-option-buttons side="left" class="button-positive swipe-button quantity-minus" ng-click="vm.minusItemNumber(item)"> <i class="icon icon-medium center ion-ios-minus-outline"></i> </ion-option-buttons>
                    <ion-option-buttons side="right" class="button-positive swipe-button" ng-click="vm.editItem(item)"> <i class="icon icon-medium center ion-ios-compose-outline"></i> </ion-option-buttons>
                    <ion-option-buttons side="right" class="button-assertive swipe-button" ng-click="vm.deleteItem(item)"> <i class="icon icon-medium center ion-ios-trash-outline"></i> </ion-option-buttons>

                    <div ng-show="item.showDetail" class="shopping-item-details padding-horizontal-large padding-bottom-small">
                        <div ng-if="item.catalog === null">
                            <p>Name: {{item.name}}  </p>
                            <p>Unit Price: ${{item.price}}  </p>
                        </div>
                        <div ng-if="item.catalog !== null">
                            <p>Name: {{item.catalog.naturalName}}  </p>
                            <p>Unit Price: ${{item.price}}  </p>
                        </div>
                    </div>

                </ion-item>
            </div>
        </div>
    </ion-list>
  </ion-content>

  <!-- Bottom button -->
  <ion-footer-bar class="bar bar-positive bar-footer mode-switch padding-vertical-small">
    <div ng-if= "!vm.shoppingMode" class="center padding-vertical-medium capital-letters" ng-click="vm.goShoppingMode()">Go Shopping</div>
    <div ng-if= "vm.shoppingMode"  class="center padding-vertical-medium capital-letters" ng-click="vm.doneShoppingMode(category)">Done Shopping</div>
  </ion-footer-bar>

  <!-- ShoppingMode, display list and user can check -->
  <ion-content ng-show="vm.shoppingMode">

    <ion-list show-delete="false" can-swipe="false">
      <div  ng-repeat="category in vm.categoryMap | object2Array | orderBy:'code'">
        <ion-item class="category item-dark" ng-click="category.showDetail = !category.showDetail">
          <img class="inline category-icon" ng-src="img/custom_icons/{{category.code}}.svg">
          <div class="center" style="width: 50%;">
            <p class="center inline text-center">{{category.label}}</p></div>
          <p class="inline category-price">${{category.subtotal|number:2}}</p>
        </ion-item>

        <div>
          <ion-item class="store-items list-border no-padding" ng-repeat="(index, item) in category.items | orderBy: 'name'"  >
            <ion-checkbox ng-model="item.checked" >
              <div ng-if="item.number === 1">
                  <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.name}} </p>
                  <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$ {{item.price | number:2}}</p>
              </div>
              <div ng-if="item.number !== 1">
                  <p class="inline padding-vertical-large vertical-align-bottom padding-left-large">{{item.name}} </p>
                  <i class="inline padding-vertical-large vertical-align-bottom padding-horizontal-small icon ion-ios-close-empty"></i>
                  <p class="inline padding-vertical-large vertical-align-bottom grey-text">{{item.number}}</p>
                  <p class="inline float-right padding-vertical-large vertical-align-bottom padding-right-large">$ {{item.price | number:2}}</p>
              </div>
            </ion-checkbox>

          </ion-item>
        </div>
      </div>
    </ion-list>

  </ion-contet>

</ion-view>
