
<ion-contents class="dark-background">

  <div class="login-register-content">
    <div class="login-logo">
        <img id="login-logo-img" src="img/login/login-logo.png">
    </div>

    <form name="reset" ng-submit="vm.resetClick(vm.user)"
            novalidate="" role="form">

            <div class="list list-inset">
              <md-input-container>
                  <!-- <label for="password">new password</label> -->
                  <input id="password" label="password" name="password" type="password" placeholder="new password" ng-model="vm.user.password" tri-same-password="reset.confirm" ng-minlength="8" required/>
                  <ng-messages for="reset.password.$error" ng-if="reset.password.$dirty"></ng-messages>
              </md-input-container>
          </div>
          <div class="list list-inset">
            <md-input-container>
                <!-- <label for="password" >confirm</label> -->
                <input id="confirm" label="confirm" name="confirm" type="password" placeholder="new password again" ng-model="vm.user.confirm" tri-same-password="reset.password" ng-minlength="8" required/>
                <ng-messages for="reset.confirm.$error" ng-if="reset.confirm.$dirty"></ng-messages>
            </md-input-container>
          </div>
        <md-button class="md-raised md-primary full-width" type="submit" ng-disabled="reset.$invalid" > Reset</md-button>
    </form>


  </div>

</ion-contents>
