<ion-contents class="dark-background">

  <div class="login-register-content">

      <div class="login-logo">
          <img id="login-logo-img" src="img/login/login-logo.png">
      </div>
      <div class="wrong-pass padding-top-large" ng-show = "error" >
          <p> Oops! The email and password don't match, please try again! </p>
      </div>

      <form class="login-register-form col col-center" ng-submit="vm.login(vm.credentials)">
          <div class="list list-inset">
              <label class="item item-input">
                  <input type="email" placeholder="Email"
                  ng-model="vm.credentials.username">
              </label>
              <label class="item item-input">
                  <input type="password" placeholder="Password"
                  ng-model="vm.credentials.password">
              </label>
          </div>
          <!-- <input class="remember-me" type="checkbox" name="rememberme" value="remember" checked> Remember Me -->
          <div class="login-button margin-top-medium">
            <button class="button button-block button-positive" type="submit">Log in</button>
          </div>
      </form>

      <div class="forgot-pass">
          <p><a ui-sref="forgot"> Forgot your password?</a></p>
      </div>

      <div class="social-media-login-register">
          <h5 class="row-center padding-top-large"> Or log in with </h5>
      </div>
      <div class="social-media-login-register">
          <div class="social-media-icons row-center">
              <img class="col-33" src="img/login/facebook.png" ng-click="fbLogin()">
              <img class="col-33" src="img/login/google+.png">
              <img class="col-33" src="img/login/twitter.png">
          </div>
      </div>

      <div class="signup row-center">
          <h5> Don't have an account yet?
            <a ui-sref="register">Sign up now!</a>
          </h5>
      </div>

  </div>

</ion-content>
