<ion-view view-title="Timeline">
  <div class="float-button">
      <md-fab-speed-dial md-open="vm.openFab" md-direction="up" class="md-scale">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn" ng-click="vm.switchFabMenu()">
            <md-icon md-svg-src="img/icons/add.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="snap by camera" class="md-fab md-raised md-mini"
              ng-click="vm.takePicture()">
            <md-tooltip md-visible="vm.tooltipVisible" md-direction="left">Snap new photo</md-tooltip>
            <md-icon md-svg-src="img/icons/camera.svg"></md-icon>
          </md-button>
          <md-button aria-label="crop from gallary" class="md-fab md-raised md-mini"
              ng-click="vm.cropFromGallery()">
            <md-tooltip md-visible="vm.tooltipVisible" md-direction="left">Crop from gallery</md-tooltip>
            <md-icon md-svg-src="img/icons/crop.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
  </div>

    <ion-content class="home-page grey-background">
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="vm.pullToRefresh()">
        </ion-refresher>

        <ion-list show-delete="vm.shouldShowDelete" can-swipe="vm.listCanSwipe" swipe-direction="left">
            <ion-item ng-repeat="(index, receipt) in vm.receipts" >
                <div class="margin-horizontal-small">
                    <p class="inline">Store Name: {{vm.receiptParseResult.chainCode}}</p><p class="inline float-right">Total: {{vm.receiptParseResult.parsedTotal}}</p>
                </div>
                <div class="receipt-img" >
                    <img ng-src="{{receipt.path}}" ng-click="vm.showReceipt(receipt.id)">
                </div>
                <ion-option-buttons side="right" class="ion-minus-circled" ng-click="vm.deleteReceipt(index)">
                    delete
                </ion-option-buttons>
                <div class="receipt-label margin-horizontal-small">
                    <p class="float-right padding-top-small"> {{vm.receiptParseResult.parsedDate | date:'hh:mm:ss  yyyy-MM-dd'}} </p>
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
            ng-if="vm.moreReceiptsCanBeLoaded()"
            on-infinite="vm.scrollToLoadMore()">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
